* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --gray: #333;
  --light-gray: rgba(32, 30, 30, 0.5);
  --orange: #f78f3f;
  --space-cadet: #21295C;
  --dark-cornflower-blue: #1B3B6F;
  --blue-sapphire: #065A82;
  --cg-blue: #1C7293;
  --pewter-blue: #9EB3C2;
  --white: #ffffff;
}
body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#main {
  padding-top: 120px;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
.grid {
  display: grid;
}
.g4-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin: 20px auto;
}

/* Header */
#header {
  background-color: var(--space-cadet);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
#header .logo {
  height: 100px;
}
#header .logo img {
  height: 100%;
  width: 100%;
}
#header .menu a {
  color: var(--white);
  font-size: 18px;
  text-decoration: none;
  padding: 0 10px;
}

/* Listados */
.list-item {
  box-shadow: 1px 1px 3px var(--light-gray);
  min-width: 0;
  min-height: 0;
}
.list-item>img {
  display: block;
  max-height: 220px;
  object-fit: cover;
  width: 100%;
}
.list-item .meta-content {
  padding: 0 10px;
}
.list-item .name {
  font-size: 21px;
  padding: 5px 0;
}
#load_more {
  background-color: var(--space-cadet);
  border: none;
  color: var(--white);
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 4px;
  margin: 40px auto;
  display: block;
  padding: 10px 50px;
  text-transform: uppercase;
}